/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

#loadingOverlay {
    background:  #fff url('//ajax.googleapis.com/ajax/libs/dojo/1.8/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
}

#loadingOverlay .loadingMessage {
    padding: 25px 40px;
    color: #999;
}

.searchInputColumn {
    float:left;
    width:100%;
    margin-right: -10em;
}
.searchInputColumnInner {
    padding-top: 2px;
    padding-right: 11em;
}
.searchButtonColumn {
    float:left;
    width: 10em;
}
#searchBtn {
    width: 100%;
    display:block;
}
#searchTerms {
    width: 100%;
    display:block;
}
.demoImageList {
	background-color: #ccc;
	margin: 0; padding: 0;
}
.demoImageList li.item img {
	max-height: 50px;
	overflow: hidden;
	margin-right: 10px;
	cursor:pointer;
	cursor:hand;
}
.demoImageList li.item {
	margin: 0;
	position: relative;
	padding: 4px 15px 3px 10px;
	background-color: #eee;
	border-top: 2px solid #fff;
	border-bottom: 1px solid #999;
	max-height: 60px;
	overflow: hidden;
}

.nano-image {
	position: absolute;
}