#borderContainer {
	height: 50em
}
#resultsContainer {
	width: 15em
}
#formContainer {
	width: 50em 
}
fieldset {
	border: 1px solid #ccc; 
	margin: 1em; 
	padding: 1em; 
}
legend {
	font-weight: bolder; 
	font-size: larger;
}
#result	{
	background-color: white; 
}
#result th {
	font-weight: bolder; 
}
#result .hilite	{
	background-color: #fd8; 
}
.makeYellow {
	background-color: #ffa; 
}
